.volunteer-body {
  margin-top: 5rem;
}

.volunteer-body-left {
  width: 50%;
}

.volunteer-title{  font-size: 5rem;
  font-weight: 500;
  color: var(--volunteer-title-color);
  margin-top: 10%;
}

.subtitle {
  font-size: 4rem;
  font-weight: 500;
  margin-top: 5%;
}

.text {
  font-size: var(--font-size-medium);
  font-weight: 400;
  margin-top: 5%;
}

.volunteer-call{
  padding: 1.5rem 1rem 1.5rem 1rem;
  background-color: var(--volunteer-call-color);
  color: var(--intro-discription-color);
  font-weight: 500;
  margin: 1rem 0.5rem 0 0.5rem;
  height: 4rem;
  display: flex;
  align-items: center;
  border-radius: 4rem;
  padding: 0 2rem 0 2rem;
}

.img-1{
  width: 75%;
  height: auto;
  margin-left: 15%;
}
