:root {
  --home-background-color: #e5e6c7;
  --title-text-color-1: rgb(53, 52, 38); 
  --title-text-color-2: #666666;
  --object-color: #e2e71a40;
  --white: white;
  --button-background-color: #948d49;

  --font-size-small: 1.2rem;
  --font-size-medium: 1.8rem;
  --font-size-large: 2.4rem;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
